@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AUTHENTICATION</h1>
    <button class="btn btn-lg btn-primary btn-block text-uppercase form-control center-screen">
        <a class="nav-link text-white text-center" asp-area="" asp-page="/tracker">Start</a>
    </button>
    <div>&nbsp;</div>
    <div class="row">
        <div>
            <input type="checkbox" id="observerCheckBox" name="observerCheckbox" value="true" onclick="observerCheck()" />
        </div>
        <div>
            <h5>&nbsp;&nbsp; Proceed as an observer</h5>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/tracker.js"></script>
}